
@{
    ViewBag.Title = "Awaitactivation";
}

<h2>Account verification</h2>
<hr />

We have sent an activation link to your email (<b>@ViewBag.Email</b>). Please activte your account before you can log in to our website.

