
@{
    ViewBag.Title = "AwaitResetPassword";
}

<h2>Please check your email</h2>
<hr />
<div>
    We have sent an recovery link to your email (<b>@ViewBag.Email</b>).<br />
</div>
<div style="margin-top:20px;">
    <a href="~/Home/Index" class="btn btn-primary">Go to home</a>
</div>


