@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    77, Lorong Lembah Permai 3<br /> 11200 Tanjung Bungah, Pulau Pinang <br /><abbr title="Phone">P:</abbr>04-899 5230
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tarucevents@gmail.com">tarucevents@gmail.com</a><br />
</address>