@*@model EventSearchModel*@
@model IEnumerable<EventSearchModel>
@{ 
    var ao = new AjaxOptions
    {
        Url = "/User/EventDetail",
        HttpMethod = "get",
        @*UpdateTargetId = "eventTabl",*@
    };
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Start Date</th>
            <th> End  Date</th>
            <th>Start Time</th>
            <th> End  Time</th>
            <th>Duration</th>
            <th>Organised by</th>
            <th>Venue</th>
            <th>View Details</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
<script>
    @*$('[data-get]').click(e => {
        e.preventDefault();
        let url = $(e.target).data('get');
        location = url || location;
    });*@
</script>
