@model Event

<style>
    .outerDiv {
        padding: 5px 50px;
        margin-top: 30px;
    }

    #eventImg {
        align-content: center;
        margin-top: 10px;
    }

    #eventDetails {
        @*border: 1px solid black;*@
        margin-top: 10px;
    }
</style>

<div class="outerDiv">
    <p onclick="bckFunc()" id="bckBtn" class="btn btn-primary" style="font-weight: bold"><</p>
    <div class="container center-block" id="eventImg">
        <img src="~/Photo/@Model.photoURL"/>
    </div>
    <div class="container" id="eventDetails">
        <table class="table">
            <tr>
                <th>Name</th>
                <td>: @Model.name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>: @Model.des</td>
            </tr>
            <tr>
                <th>Price (RM)</th>
                <td>: @Model.price</td>
            </tr> 
            <tr>
                <th>Venue</th>
                <td>
                    : @if (Model.venueId != null)
                        {
                            @Model.Venue.name
                        }
                        else
                        {
                        <a href="/Event/VenueBooking?Id=@Model.Id" class="btn btn-primary">Book Your Venue</a>
                        }
                </td>
            </tr>
        </table>
        
    </div>
</div>
<script>
    function bckFunc() {
        window.history.back();
    }
</script>