body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    position: fixed;
    bottom: 0;
}

.navbar-fixed-top{
    height: 50px;
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    float: left;
    display: block;
    margin-right: 5px;
    padding: 5px 5px;
}

.nav-items{
    height: 50px;
}

.right-aligned-items li{
    margin: 0;
    padding: 0;
}

.info:not(:empty) {
    position: absolute;
    background: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%);
    top: -100px;
    opacity: 0;
    animation: fade 5s linear 0s 1 normal;
}

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    10% {
        top: 100px;
        opacity: 1;
    }

    90% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
   
}

#advertisement img {
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
    object-fit: fill;
}


